/**
https://getbootstrap.jp/docs/5.3/layout/grid/

xs <576px	
sm ≥576px
md ≥768px
lg ≥992px
xl ≥1200px
xxl ≥1400px

*/

.container {
  max-width: 576px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: var(--white);
  position: relative;
}
