.top {
  width: 242px;
  height: 100vh;
  box-sizing: border-box;
  border: #000 solid 1px;

  padding: 5px;
  font-size: 14px;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* 親要素がflexで並べた時に縮まないようにする */
}